<app-header [title]="'Perfil'"></app-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-text-center">
    <ion-avatar style="margin: auto;">
      <img class="img" src="./assets/svg/diami_avatar.svg" />
    </ion-avatar>
  </div>

  <div>
    <ion-card *ngIf="user">
      <div padding>
        <ion-item>
          <ion-input
            name="name"
            type="text"
            placeholder="Nombre"
            [(ngModel)]="user.name"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            name="email"
            type="email"
            placeholder="tucorreo@email.com"
            [(ngModel)]="user.email"
            readonly
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            name="telephone"
            type="text"
            placeholder="Teléfono"
            [(ngModel)]="user.phone"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            name="adress"
            type="text"
            placeholder="Dirección"
            [(ngModel)]="user.address"
          ></ion-input>
        </ion-item>
      </div>
    </ion-card>
  </div>

  <ion-card>
    <ion-row style="margin-bottom: 10px; margin-top: 8px;" >
      <ion-col size="3" *ngFor="let option of options" style="margin:auto; text-align:center;"
        ><ion-button class="btn_diami_option" (click)="selectOption(option)" mode="ios">
          {{ option }}
        </ion-button>
      </ion-col>
     
      <ion-col size="3" style="margin-left: 20px;">
        Atendidos
      </ion-col>
      <ion-col size="3" style="margin-left: 25px">
        En proceso
      </ion-col>
      <ion-col size="3" style="margin-left: 25px;">
        Solicitudes
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <p style="text-align: center; width: 100%;">
      <strong>Directorio profesional</strong>
    </p>

  </ion-card>
  <div padding>
    <ion-button (click)="logout();" mode="ios" size="medium" expand="block" style="color:white;margin-top: 30px;"
      >Cerrar sesión</ion-button
    >
  </div>
  <img src="./assets/svg/version.svg" />
</ion-content>
