<app-header [title]="'Perfil'"></app-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-text-center">
    <ion-avatar style="margin: auto;">
      <img class="img" src="./assets/svg/diami_avatar.svg" />
    </ion-avatar>
  </div>

  <div style="margin-top: 56px;">
    <ion-card *ngIf="user" mode="ios">
      <div padding>
        <ion-item>
          <ion-label position="floating" color="secondary">Nombre</ion-label>
          <ion-input
            name="name"
            type="text"
            placeholder="Nombre"
            [(ngModel)]="user.name"
            readonly
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="secondary"
            >Correo electrónico</ion-label
          >
          <ion-input
            name="email"
            type="email"
            placeholder="tucorreo@email.com"
            [(ngModel)]="user.email"
            readonly
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="secondary">Género</ion-label>
          <ion-input
            name="gender"
            type="text"
            placeholder="Genero"
            [(ngModel)]="user.gender"
            readonly
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="secondary">Edad</ion-label>
          <ion-input
            name="age"
            type="text"
            placeholder="Edad"
            [(ngModel)]="user.age"
            readonly
          ></ion-input>
        </ion-item>
      </div>
    </ion-card>
  </div>

  <ion-card mode="ios">
    <ion-row size="12">
      <ion-col
        size="4"
        *ngFor="let option of options"
        style="margin: auto; text-align: center;"
        ><ion-button
          class="btn_diami_option"
          (click)="selectOption(option)"
          mode="ios"
        >
          {{ option }}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row size="12">
      <ion-col size="4" style="margin: auto; text-align: center;">
        Atendidos
      </ion-col>
      <ion-col size="4" style="margin: auto; text-align: center;">
        En proceso
      </ion-col>
      <ion-col size="4" style="margin: auto; text-align: center;">
        Solicitudes
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card mode="ios">
    <p style="text-align: center; width: 100%;">
      <strong>Directorio profesional</strong>
    </p>
  </ion-card>
  <div padding>
    <ion-button
      (click)="logout();"
      mode="ios"
      size="medium"
      expand="block"
      style="color: white; margin-top: 30px;"
      >Cerrar sesión</ion-button
    >
  </div>
  <img
    src="./assets/svg/version.svg"
    style="height: 90px; margin: auto; text-align: center; margin-left: 35px;"
  />
</ion-content>
