.message1 {
  padding: 12px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 4px;
  white-space: pre-wrap;
}

.message2 {
  padding: 12px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-bottom: 4px;
  white-space: pre-wrap;
}

.my-message {
  background: #6dd1e1;
  color: #3c3c3c;
}

.other-message {
  background: rgb(229, 249, 252);
  color: #3c3c3c;
}

.time {
  // color: #dfdfdf;
  float: right;
  font-size: small;
}

.message-input {
  margin-top: 0px;
  border: 1px solid var(--ion-color-medium);
  border-radius: 10px;
  background: #fff;
}

.msg-btn {
  --padding-start: 0.5em;
  --padding-end: 0.5em;
}

.chat_:last-child {
  margin-bottom: 30px;
}

.header_ {
  padding: 20px 40px 0 40px;
  margin: auto;
}