<ion-header class="ion-no-border header_">
  <ion-toolbar>
    <ion-icon
      (click)="dismiss()"
      slot="start"
      name="arrow-back"
      style="font-size: xx-large;"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [scrollEvents]="true">
  <div class="chat_">
    <ion-row *ngFor="let message of messages">
      <ion-col
        size="8"
        *ngIf="message.type === 'BOT'"
        class="message1 other-message fade-in"
      >
        <!-- <b>Diami</b> -->
        <span>{{ message.message }}</span>
        <!-- <div class="time" text-right>
          <br />{{ message.createdAt | date: 'short' }}
        </div> -->
      </ion-col>

      <ion-col
        offset="4"
        size="8"
        *ngIf="message.type !== 'BOT'"
        class="message2 my-message fade-in"
      >
        <!-- <b>Tú</b> -->
        <span>{{ message.message }}</span>
        <!-- <div class="time" text-right>
          <br />{{ message.createdAt | date: 'short' }}
        </div> -->
      </ion-col>
    </ion-row>

    <div class="ion-text-center" *ngIf="!isFinishChat">
      <ion-spinner name="circular"></ion-spinner>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row align-items-center>
      <ion-col size="10">
        <ion-textarea
          auto-grow
          class="message-input"
          rows="1"
          [(ngModel)]="message"
        ></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button
          expand="block"
          fill="clear"
          color="primary"
          [disabled]="message === ''"
          class="msg-btn"
          (click)="sendMessage()"
        >
          <ion-icon name="send-sharp" style="font-size: xx-large;"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
