.avatar-header {
  text-align: center;
  img {
    width: 180px;
  }
}

.text-description {
  text-align: center;
  color: #195e83;
  margin-top: 0;
}

.userName {
  font-size: 16px;
  font-weight: bold;
  color: rgb(34, 34, 36);
}

ion-button {
  --border-radius: 10px;
  --background: rgb(55, 146, 70);
  color: white;
}

.avatar {
  border-radius: 10px;
  max-width: 50px;
  display: block;
  float: left;
  margin-right: 1rem;
  padding: 5px;
}
.icono {
  border-radius: 10px;
  max-width: 20px;
  display: block;
  float: rig;
  margin-right: 1rem;
}

.gameStats span {
  margin-top: 0.5em;
  font-size: 13px;
  font-weight: bold;
  color: #bbbcbe;
}

.edad {
  margin-right: 10px;
}

.riesgo {
  margin-right: 0.5em;
}

.victima {
  margin-right: 0.5em;
}

.not_found_messages {
  width: 55%;
  max-width: 175px;
  margin: auto;
  text-align: center;
  font-size: larger;
  color: var(--ion-color-medium);
}
