._ {
  background: #6dd1e1;
  background: rgba(109, 209, 225, 1);
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

.Rectngulo_187 {
  background: #035e88;
  background: rgba(3, 94, 136, 1);
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
.Rectngulo_189 {
  background: #ade8f1;
  background: rgba(173, 232, 241, 1);
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

.Rectngulo_188 {
  background: #68e2f6;
  background: rgba(104, 226, 246, 1);
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
