<app-header [title]="'Consejos para ti'"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="fade-in">
    <ion-card mode="ios">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let slide of slides">
          <img class="img-margin" [src]="slide.img" />
        </ion-slide>
      </ion-slides>
    </ion-card>
  </div>

  <ion-title class="title_news fade-in">Noticias Diami</ion-title>

  <div class="fade-in div_news">
    <!-- <ion-card *ngIf="news" mode="ios">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let title of news.articles">
          <ion-grid>
            <ion-row>
              <h3><strong>{{title.title}}</strong></h3>
            </ion-row>
            <ion-row>
              <img [src]="title.urlToImage | imagepipe" />
            </ion-row>
            <ion-row>
              {{title.description}}
            </ion-row>
            <div class="verMas">
              <a [href]="title.url">Ver más</a>
            </div>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </ion-card> -->

    <ion-list *ngIf="news">
      <ion-item *ngFor="let title of news.articles">
        <ion-row size="12">
          <ion-col size="5">
            <img [src]="title.urlToImage | imagepipe" />
          </ion-col>
          <ion-col size="7">
            <p class="title_new">{{ title.title }}</p>
            <div style="display: flex;">
              <p class="published_new">
                {{ title.publishedAt | date: 'EEEE, dd MMMM yyyy' }}
              </p>
              <ion-button
                (click)="seeMore(title.url)"
                expand="block"
                class="see_more"
                fill="clear"
                shape="round"
              >
                Ver más
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
