ion-header {
  text-align: center;
  display: initial;

  ion-toolbar {
    padding-top: 30px;
  }

  ion-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #3c3c3c;
  }
}
