<ion-tabs>
  <ion-tab-bar slot="bottom" color="light">
    <ion-tab-button tab="requests">
      <ion-icon name="document-outline" style="color:#27D4F3"></ion-icon>
      <ion-label style="color:#27D4F3">Solicitudes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="file-tray-full-outline" style="color:#27D4F3"></ion-icon>
      <ion-label style="color:#27D4F3">Historial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="prof-profile">
      <ion-icon name="person-outline" style="color:#27D4F3"></ion-icon>
      <ion-label style="color:#27D4F3">Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
