<app-header [title]="'Solicitudes'"></app-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row size="12">
      <ion-col size="4" class="icon_diami">
        <img class="avatar-header" src="./assets/svg/diami_avatar.svg" />
      </ion-col>
      <ion-col size="8" class="text-description" style="margin: auto;">
        <p style="font-size: 22px; color: var(--ion-color-secondary);">
          <strong> {{description}} </strong>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list lines="none">
    <app-card-professional
      [user]="user"
      [icon]="'arrow-forward-outline'"
    ></app-card-professional>
    <app-card-professional
      [user]="user"
      [icon]="'arrow-forward-outline'"
    ></app-card-professional>
    <app-card-professional
      [user]="user"
      [icon]="'arrow-forward-outline'"
    ></app-card-professional>
    <app-card-professional
      [user]="user"
      [icon]="'arrow-forward-outline'"
    ></app-card-professional>
    <app-card-professional
      [user]="user"
      [icon]="'arrow-forward-outline'"
    ></app-card-professional>
  </ion-list>
</ion-content>
