.avatar-header {
  width: 50%;
  max-width: 300px;
  min-width: 30%;
}

.icon_diami {
  margin: auto;
  text-align: center;
}

.not_found_messages {
  width: 75%;
  max-width: 260px;
  margin: auto;
  text-align: center;
  font-size: larger;
  color: var(--ion-color-medium);
}
