<app-header [title]="'Perfil'"></app-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-text-center" style="height: 25%; max-height: 30%;">
    <ion-avatar style="margin: auto;">
      <img class="imgRedonda" src="./assets/svg/diami_avatar.svg" />
    </ion-avatar>
    <!-- <div class="edit_">Editar</div> -->
  </div>

  <div class="fade-in">
    <ion-card>
      <div padding *ngIf="user">
        <ion-item>
          <ion-label position="floating" color="secondary">Nombre</ion-label>
          <ion-input
            name="name"
            type="text"
            placeholder="Nombre"
            [(ngModel)]="user.name"
            readonly
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="secondary"
            >Correo electrónico</ion-label
          >
          <ion-input
            name="email"
            type="email"
            placeholder="tucorreo@email.com"
            [(ngModel)]="user.email"
            readonly
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="secondary">Género</ion-label>
          <ion-input
            name="gender"
            type="text"
            placeholder="Genero"
            [(ngModel)]="user.gender"
            readonly
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="secondary">Edad</ion-label>
          <ion-input
            name="age"
            type="text"
            placeholder="Edad"
            [(ngModel)]="user.age"
            readonly
          ></ion-input>
        </ion-item>
      </div>
      <div padding>
        <ion-button (click)="logout();" size="small" expand="full"
          >Cerrar sesión</ion-button
        >
      </div>
    </ion-card>
  </div>

  <img src="./assets/svg/version.svg" />
</ion-content>
