<ion-card
  mode="ios"
  class="ion-no-margin"
  style="
    margin-bottom: 10px;
    box-shadow: -2px 4px 15px -7px rgba(0, 0, 0, 0.75);
  "
>
  <ion-card-content class="ion-no-padding">
    <ion-grid class="ion-no-padding" *ngIf="user">
      <ion-row size="12" class="ion-no-padding">
        <ion-col size="3" style="margin: auto; text-align: -webkit-center;">
          <ion-avatar>
            <img [src]="user.img ? user.img : 'assets/svg/defaultM.svg'" />
          </ion-avatar>
        </ion-col>
        <ion-col size="7" style="margin: auto; text-align: start;">
          <h1>{{ user.name | titlecase }}</h1>
          <ion-row size="12">
            <ion-col size="5">{{ user.age }}</ion-col>
            <ion-col size="7">Riesgo medio</ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="2" style="text-align: end;">
          <ion-button
            (click)="openModal(user)"
            class="ion-no-margin"
            style="
              height: 100px;
              --border-radius: 0;
              --background: var(--ion-color-success);
              color: white;
            "
          >
            <ion-icon [name]="icon"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
