<ion-tabs>
  <ion-tab-bar slot="bottom" color="ligth">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline" style="color:#27D4F3"></ion-icon>
      <ion-label style="color:#27D4F3">Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="diami">
      <ion-icon name="alert-circle-outline" style="color:#27D4F3"></ion-icon>
      <ion-label style="color:#27D4F3">Diami</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline" style="color:#27D4F3"></ion-icon>
      <ion-label style="color:#27D4F3">Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
